@page "/bootstrap/lazytab"
@using BlazorPlayground.Areas.Bootstrap.LazyTabs.Shared

<LazyTabs>
    <LazyTab Title="Test1">
        <p class="mt-3">1</p>
    </LazyTab>
    <LazyTab Title="Test2">
        <SlowComponent />
    </LazyTab>
    <LazyTab Title="Test3">
        <SlowComponent />
    </LazyTab>
</LazyTabs>