@using BlazorBootstrap
<CascadingValue Value="@(this)" IsFixed="true">
    @ChildContent
</CascadingValue>

<Tabs OnShowing="HandleShowing">
    @foreach (var lt in LazyTabsList)
    {
        <Tab Title="@lt.Title" Active="true">
            <Content>
                @if (LoadedTabs[lt.Guid].WasLoaded)
                {
                    <div style="display:@(LoadedTabs[lt.Guid].ActiveCssClass)">
                        @lt.ChildContent
                    </div>
                }
            </Content>
        </Tab>
    }
</Tabs>